
<h3 >Your Personalized Natal Chart Awaits</h3>
<p>
 Based on your birth information, we will create a personalized natal chart that reveals deep insights about your personality, strengths, life path, and cosmic blueprint powered by AI.
</p>

<% if @has_natal_chart %>
  <p><%= @natal_chart %></p>
<% else %>
  <%= button_to "Generate Now", natal_chart_path, method: :post %>
<% end %>

<div class="d-grid gap-2 mt-4">
 <%= link_to "🌟 View My Natal Chart", profile_path, class: "btn btn-primary btn-lg" %>
</div>
