<div class="astro-container">
  <div class="astro-card">
    <div class="astro-header" style ="text-align: center">
      <h1>Your Daily Horoscope</h1>
      <p>Click the button and we’ll generate today’s horoscope based on your birth data.</p>
    </div>

    <%= simple_form_for @reading, url: horoscope_readings_path do |f| %>
      <div class="premium-actions" style="text-align: center">
        <%= f.button :submit, "Generate my horoscope", class: "premium-action-btn primary" %>
      </div>
    <% end %>
  </div>
</div>
