<div class="banner">
  <div class="banner">
<h1>BE PART OF THE BEST ASTRONOMIC EXPERIENCE</h1>
<h2>Discovery your personal cosmic guidance</h2>
<p>Daily horoscope and tarot reading powered by AI</p>
<%= link_to "Register FOR FREE", new_user_session_path, class: "btn btn-lg btn-primary"%>
  </div>
</div>
