<h1>
  <% if @reading.reading_type == "tarot" %>
    Tarot - <%= @reading.category_tarot&.capitalize %>
  <% else %>
    Horoscope
  <% end %>
</h1>

<p><strong>Date:</strong> <%= @reading.date %></p>

<div class="reading-content">
  <%= simple_format @reading.content %>
</div>

<%= link_to "Back to readings", readings_path, class: "btn btn-outline-secondary mt-3" %>
